main, *{
    font-family: 'Acme', sans-serif !important;
}
main{
    font-family: 'Acme', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;

    padding-top: 30px;
}

.menu-container{
    width: 80%;
    padding: 10px;
    
    background-color: #604313;
    
}

.header-container{
    margin-bottom: 10px;
}
    main h2{
    text-align: center;
    font-size: 132px;
    width: 100%;
    color: azure;
}

.buttons-container{
    display: flex;
    
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.buttons-container button{
    background-color: #604313;
    color: azure;

    border-style: none;
    /* border-style: solid;
    border-color:azure;
    border-width: 5px;  */

    font-family: Sans-serif;
    font-weight: 700;
    font-size: 48px;

    width:30%;
    height: 30%;

    transition: border 0.2s;
}

.buttons-container button:hover{
  border-style: solid;
    border-color:azure;
    border-width: 5px; 
}

.instructions-container{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.instruction{
    text-align: center;
}
.instruction h3{
    color:azure;
}